.carousel {
    width: 100%;
    height: 512px;
}

.carousel .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 365px;
    text-align: center;
    font-size: 18px;
    background: #444;
}

.carousel .swiper-slide img {
    width: 234px;
    height: 365px;
    object-fit: cover;
}
